<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; box-sizing: border-box">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Sender - Tailwind</title>
  </head>
  <body style="background-color: #f1f5f9">
    <div
      style="
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        border-radius: 0.75rem;
        width: 480px;
      "
    >
      <section style="width: 100%; background-color: #fff">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQthODeRetExTPhrcCVP7lqFwKvBZ6QcWW-zO5EOEe1qpUXnABwk_9L0QYSr93oVi41-bs&usqp=CAU"
          alt=""
          style="
            margin-left: 2.5rem;
            margin-right: 2.5rem;
            width: 7rem;
            background-color: #fff;
          "
        />
      </section>
      <section style="width: 100%">
        <img
          src="https://cdn1-production-images-kly.akamaized.net/eXhbXG-YlIKMJPXACPtZylRMwwo=/800x450/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/4335571/original/040519400_1677169030-Screen_Shot_2023-02-23_at_23.03.35.jpg"
          style="
            width: 100%;
            border-radius: 0.25rem;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -2px rgba(0, 0, 0, 0.05);
          "
        />
      </section>

      <section
        style="
          background-color: #fff;
          width: 100%;
          margin-top: -24px;
          padding-bottom: 15px;
        "
      >
        <p
          style="
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 400;
            padding-right: 2.5rem;
            padding-left: 2.5rem;
            padding-top: 20px;
          "
        >
          Kepada
          <span th:text="${name}" style="font-style: italic; font-weight: 700"></span>
        </p>
        <p
          style="
            margin-top: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            text-align: center;
          "
        >
          Terima Kasih Telah Mendaftar Di
          <span style="display: block; font-style: italic; font-weight: 700"
            >INDO MOVIES</span
          >
        </p>
        <p
          style="
            padding-right: 2.5rem;
            padding-left: 2.5rem;
            margin-top: 0.5rem;
            font-size: 0.875rem;
            line-height: 1.3rem;
            text-align: justify;
          "
        >
          "Selamat datang! Kami ucapkan selamat atas registrasi Anda di situs
          web penjualan tiket bioskop kami. Bergabunglah dengan kami untuk
          menikmati berbagai pilihan film yang menarik. Temukan pengalaman baru
          dalam mengeksplorasi dunia imaginasi dan hiburan yang tak terlupakan.
          Selamat menonton!"
        </p>
        <p
          style="
            padding-right: 2.5rem;
            padding-left: 2.5rem;
            margin-top: 1rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
          "
        >
          Kelebihan yang kami berikan :
        </p>
        <ul
          style="
            padding-right: 2.5rem;
            padding-left: 2.5rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
            list-style-type: none;
            margin-top: -15px;
          "
        >
          <li>✅ Film Lengkap.</li>
          <li>✅ Harga Pas Dikantong.</li>
          <li>✅ Pembayaran Mudah</li>
        </ul>
      </section>
      <section
        style="width: 100%; background-color: #29292e; text-align: center"
      >
        <p
          style="
            font-size: 15px;
            padding-top: 10px;
            font-weight: 700;
            color: white;
          "
        >
          INDO MOVIES
        </p>
        <p style="color: #858593; font-size: 12px">
          JL.Mawar Indah No 12 Jawa Barat Bekasi
        </p>
        <p
          style="
            margin-top: -10px;
            color: #858593;
            font-size: 12px;
            padding-bottom: 15px;
          "
        >
          Created By &copy;
          <a href="#"
            ><span style="color: blue; font-weight: bold">INDO MOVIES</span></a
          >
        </p>
      </section>
    </div>
  </body>
</html>
